version: "3.8"

services:
  backend:
    build: ./backend
    container_name: realestate-backend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      PORT: 5000
      JWT_SECRET: ${JWT_SECRET}

    ports:
      - "5000:5000"
    networks:
      - app-net

  frontend:
    build: ./frontend
    container_name: realestate-frontend
    restart: unless-stopped
    environment:
      VITE_API_URL: http://localhost:5000/api
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - app-net

networks:
  app-net:
