version: "3.8"

services:
  db:
    image: mysql:8
    container_name: realestate-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: real_estate_db
      MYSQL_USER: realestateuser
      MYSQL_PASSWORD: StrongPassword123!
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-net

  backend:
    build: ./backend
    container_name: realestate-backend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: realestateuser
      DB_PASSWORD: StrongPassword123!
      DB_NAME: real_estate_db
      PORT: 5000
      JWT_SECRET: my_super_secret
    depends_on:
      - db
    ports:
      - "5000:5000"
    networks:
      - app-net

  frontend:
    build: ./frontend
    container_name: realestate-frontend
    restart: unless-stopped
    environment:
      VITE_API_URL: http://localhost:5000/api
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - app-net

volumes:
  db_data:


networks:
  app-net:
